body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/101/543/original/globe.png?1697946907");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
  margin-top: 15px;
  font-family: "Cutive Mono", monospace;
  color: white;
  font-size: 0.75em;
}
h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  font-family: "Comfortaa", sans-serif;
}
h2 {
  color: white;
  margin: 0;
  font-size: 2.5em;
  font-family: "Cutive Mono", monospace;
}
p {
  margin: 0;
  font-family: "Cutive Mono", monospace;
  color: white;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: 1px white solid;
  background-color: transparent;
  font-family: "Cutive Mono", monospace;
}
option {
  background-color: #091724;
}
a {
  color: rgb(253, 232, 186);
  font-weight: bold;
  transition: 200ms ease-in-out;
}
a:hover {
  color: rgb(24, 59, 81);
}
.container {
  background-color: #000000a2;
  margin: 0 auto;
  margin-top: 300px;
  max-width: 600px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 0px 11px 3px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 0px 11px 3px rgba(21, 21, 21, 0.7);
  border-radius: 10px;
}
.city {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(170, 170, 170, 0.281) solid;
  line-height: 34px;
}
.city:last-child {
  border: none;
}
.date {
  font-size: 0.9em;
  color: white;
}
.time {
  font-size: 3em;
  color: white;
  font-family: "Cutive Mono", monospace;
}
.time small {
  vertical-align: middle;
  font-size: 0.3em;
}
a.reset {
  position: relative;
  top: 8px;
  color: white;
}
#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
@media only screen and (max-width: 1847px) {
  body {
    background-size: auto;
  }
}
